.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.desig {
  color: #575757;
}
.clr {
  color: #2563eb;
  font-weight: bold;
}
.font-color {
  color: white;
}
.btns {
  margin-top: 40px;
}
.bold {
  font-size: 80px;
  padding-top: 50px;
}
/* nav style */
.nav-container {
  margin: 23.5px 180px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.nav-link {
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav-link li a {
  text-decoration: none;
  color: #575757;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 1s;
}
.nav-link li a:hover {
  background-color: rgb(81, 223, 109);
}
.nav-btn-container {
  display: flex;
}
.nav-btn {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 48px;
  width: 188px;
  font-weight: bold;
}
/* btn style */
.btn {
  background-color: #1d4ed8;
  color: white;
  border-radius: 5px;
  border: none;
  transition: background-color 2s;
  cursor: pointer;
}
.btn:hover {
  background-color: orange;
}

/* banner section style */
.banner-container {
  position: relative;
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 781px;
  overflow: hidden;
  margin-bottom: 80px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 2) 0%,
    transparent 90%
  );
  z-index: 0;
}
.banner-child {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 250px;
  z-index: 1;
}
/* card section style */
.card-section {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  width: 600px;
  border: 1px solid rgb(236, 233, 233);
  border-radius: 5px;
}
.card img {
  width: 600px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 24px;
}
.card-content p {
  margin: 4px 0;
}
.card-content h3 {
  margin: 4px 0;
}
/* price card style */
.price-section {
  text-align: center;
  align-items: center;
}
.semio-bold {
  font-size: 80px;
  margin-bottom: 4px;
}
.price-card-container {
  margin: 80px 60px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 60px;
}
.price-card {
  border: 1px solid rgba(206, 203, 203, 0.954);
  height: 440px;
  width: 350px;
  border-radius: 8px;
  text-align: left;
  transition: all 0.3s ease;
}
.price-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
.price-card button {
  display: block;
  margin: 0 auto;
  transition: 2s;
  cursor: pointer;
}
.price-card h1 {
  font-weight: bold;
}
.price-card p {
  color: #888888;
}
.price-card p,
h1 {
  margin-left: 32px;
}
.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feature li::marker {
  color: #2563eb;
}
.price-card button:hover {
  background-color: orange;
  color: white;
  border: none;
}
.fst-card-btn {
  height: 45px;
  width: 280px;
  border: 1px solid #2563eb;
  color: #2563eb;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
}
.second-card-btn {
  height: 45px;
  width: 280px;
  border: 1px solid #2563eb;
  color: white;
  border-radius: 5px;
  background-color: #2563eb;
  font-weight: bold;
}
.thrd-card-btn {
  height: 45px;
  width: 280px;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
}
